- name: Template Env Files
  become: true
  ansible.builtin.template:
    mode: u=rw,g=r,o=
    group: admin
    owner: ansible
    src: "{{ docks.src }}"
    dest: "{{ defualt_relative_docker_data_path }}/{{ docks.dest_name }}"
  loop: '{{ docker_template_files }}'
  loop_control:
    loop_var: docks

- name: Template Docker Compose File
  become: true
  ansible.builtin.template:
    mode: u=rw,g=r,o=
    group: admin
    owner: ansible
    src: "{{ source_compose_file }}"
    dest: "{{ defualt_relative_docker_data_path }}/{{ remote_compose_file }}"
  changed_when: false # Will always template since template gets deleted

- name: Create Resources
  become: true
  community.docker.docker_compose_v2:
    project_name: '{{ compose_project_name }}'
    project_src: "{{ defualt_relative_docker_data_path }}/"
    files:
      - '{{ remote_compose_file }}'

- name: Remove Templated Compose
  become: true
  ansible.builtin.file:
    path: "{{ defualt_relative_docker_data_path }}/{{ remote_compose_file }}"
    state: absent
  changed_when: false

- name: Remove All Templated Files
  become: true
  vars:
    keep: "{{ docks.keep | default(false) }}"
  ansible.builtin.file:
    path: "{{ defualt_relative_docker_data_path }}/{{ docks.dest_name }}"
    state: absent
  loop: '{{ docker_template_files }}'
  loop_control:
    loop_var: docks
  when: not keep
