---
- name: Setup laptop partition
  ansible.builtin.include_tasks: setup_partition.yml

- name: Traefik Setup
  ansible.builtin.include_tasks: traefik-setup.yml

- name: Create media group
  become: true
  ansible.builtin.group:
    name: 'media'
    state: present
  register: group_return_values

- name: Create users for media group
  become: true
  ansible.builtin.user:
    name: "{{ current_user.name }}"
    uid: "{{ current_user.PUID }}"
    groups: "{{ group_return_values.name }}"
  loop: "{{ users }}"
  loop_control:
    loop_var: current_user

- name: Create VPN Resource
  vars:
    docker_template_files:
      - src: vpn.compose.yml
        dest_name: vpn.compose.yml
    compose_file: vpn.compose.yml
    compose_project_name: vpn
  ansible.builtin.include_tasks: ../../tasks/docker-compose-up.yml
