---
- name: Ensure NFS mount is in fstab and mounted
  become: true
  ansible.posix.mount:
    path: "{{ where_to_mount_storage_device }}"
    src: 10.0.0.146:/volume1/media
    fstype: nfs
    boot: true
    opts: rw,hard,intr # https://linuxopsys.com/linux-nfs-mount-entry-in-fstab-with-example
    state: mounted
