- name: Init VM Nodes for K8
  hosts: node
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320

  pre_tasks:
    - name: Get Facts and Switch Python Env
      ansible.builtin.include_tasks: ../../tasks/change-and-gather.yml

  tasks:
    - name: Enable ISCSI Kernel Module
      become: true
      community.general.modprobe:
        name: iscsi_tcp
        state: present
