---
- name: Database
  ansible.builtin.import_playbook: infrastructure/database.yml

- name: Misc
  ansible.builtin.import_playbook: infrastructure/misc.yml

- name: Dashboards
  ansible.builtin.import_playbook: infrastructure/dashboards.yml
