---
- name: Setup Debian VMs for Infrastructure
  hosts: infra_server
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320
    is_qemu_guest: true

  pre_tasks:
    - name: Get Facts and Switch Python Env
      ansible.builtin.include_tasks: ../../tasks/change-and-gather.yml

  roles:
    - debian-system-startup

- name: Database
  ansible.builtin.import_playbook: infrastructure/database.yml

- name: Misc
  ansible.builtin.import_playbook: infrastructure/misc.yml

- name: Dashboards
  ansible.builtin.import_playbook: infrastructure/dashboards.yml
