---
- name: Setting Up Homelab Infrastructure # noqa: role-name[path]
  hosts: database
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320
    is_qemu_guest: true

  pre_tasks:
    - name: Get facts after SSH set
      ansible.builtin.include_tasks: ../../tasks/gather-facts-ssh.yml

    - name: Change Python Env
      ansible.builtin.include_tasks: ../../tasks/change-python-env.yml

  roles:
    - setup/debian-system-startup

- name: Install Dashy # noqa: role-name[path]
  hosts: Dashy
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320
  pre_tasks:
    - name: Get facts after SSH set
      ansible.builtin.include_tasks: ../../tasks/gather-facts-ssh.yml

    - name: Change Python Env
      ansible.builtin.include_tasks: ../../tasks/change-python-env.yml
  roles:
    - installations/dashy

- name: Install Infrastructure Services # noqa: role-name[path]
  hosts: Pihole
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320

  pre_tasks:
    - name: Get facts after SSH set
      ansible.builtin.include_tasks: ../../tasks/gather-facts-ssh.yml

    - name: Change Python Env
      ansible.builtin.include_tasks: ../../tasks/change-python-env.yml
    - name: Include Infrastructure Secrets
      ansible.builtin.include_vars: ../../inventory/secrets/traefik.secrets.yml

  roles:
    - installations/infra_install

- name: Install Database # noqa: role-name[path]
  hosts: database
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320

  pre_tasks:
    - name: Get facts after SSH set
      ansible.builtin.include_tasks: ../../tasks/gather-facts-ssh.yml

    - name: Change Python Env
      ansible.builtin.include_tasks: ../../tasks/change-python-env.yml
    - name: Include Infrastructure Secrets
      ansible.builtin.include_vars: ../../inventory/secrets/traefik.secrets.yml
    - name: Include DB Secrets
      ansible.builtin.include_vars: ../../inventory/secrets/db.secrets.yml

  roles:
    - installations/database_install
