---
- name: Init Sens Servers
  hosts: sensitive_server
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320
    is_qemu_guest: true

  pre_tasks:
    - name: Get Facts and Switch Python Env
      ansible.builtin.include_tasks: ../../tasks/change-and-gather.yml

  roles:
    - setup/debian-system-startup

# For now manually input adc.json and cache.db
- name: Init Bots # noqa: role-name[path]
  hosts: bots
  roles:
    - setup/bots
