{
  "attachments": [
      {
          "color": "{{ slack_color }}",
          "author_name": "Ansible",
          "author_icon": "https://levelupla.io/wp-content/uploads/2020/05/ansiblelogo.png",
          "title": "{{ slack_title }}",
          "title_link": "https://api.slack.com/",
          "text": "{{ slack_text }}",
          "fields": [
              {
                  "title": "Priority",
                  "value": "{{ slack_priority }}",
                  "short": false
              }
          ],
          "footer": "Ansible",
      }
  ]
}
