---

- name: Install PiHole, IAM (Authelia), and LDAP
  hosts: Pihole
  gather_facts: false
  vars:
    other_port: true
    alt_ssh_port: 5320

  pre_tasks:
    - name: Get Facts and Switch Python Env
      ansible.builtin.include_tasks: ../../../tasks/change-and-gather.yml

  roles:
    - infra_install
